{{#each this}}
<div class="col-12 col-md-6 col-lg-4 col-xl-3  countri-item">
    <h2 class="countri-item_title">{{name}}</h2>
    <img src="{{flag}}" alt="flag {{name}} images" class="countri-item_images">
    <div class="capital_content-block">
        <p class="countri-info">Capital: {{capital}}</p>
        <p class="countri-info">Population: {{population}}</p>
        <p class="countri-info">Lenguages: </p>
        <ul class="countri-info-lenguages">
            {{#each languages}}
            <li class="lenguages-item">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{/each}}